.about {
    padding: 100px 0;
    background-color: #ffffff;
    background-image: url('../assets/about-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  
  .about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    backdrop-filter:blur(10px);
    /*box-shadow: 5px 5px 8px 0 #7a7777;*/
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 2%;
  }
  
  .about-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 50px;
    margin-bottom: 60px;
    margin-top: 20px;
  }

  .about-text {
    text-align: left;
  }
  
  .about-text h2 {
    font-size: 2.5rem;
    color: #2d2d2d;
    margin-bottom: 20px;
  }
  
  .about-text h3 {
    font-size: 1.8rem;
    color: #007bff;
    margin-bottom: 30px;
    font-weight: 500;
  }
  
  .about-text p {
    font-size: 1.1rem;
    color: #5a5e62;
    line-height: 1.8;
    margin-bottom: 20px;    
  }

  .about-timeline {
    position: relative;
    margin-top: 15px;
  }

  .about-timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #adb7bf;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  .timeline-container-left {
    padding: 5px 15px 5px 0px;
    position: relative;    
    width: 50%;
    left: 0;
  }

  .timeline-container-right {
    padding: 5px 0px 5px 11px;
    position: relative;
    width: 50%;
    left: 50%;
  }  

  .timeline-container-left::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -6.3px;
    background-color: white;
    border: 3px solid #4d5054;
    top: 10px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .timeline-container-right::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: -8.7px;
    background-color: white;
    border: 3px solid #4d5054;
    top: 10px;
    border-radius: 50%;
    z-index: 1;
  }

  .timeline-content {
    position: relative;
    padding-left: 5px;
    border-radius: 8px;
    /*border-style: solid;
    border-width: 2px;
    border-color: #adb7bf;*/
    box-shadow: 3px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 1rem;
    color: #5a5e62;
  }

  .timeline-content:hover{
    background-color: #f0f0f0;
    border: #e0e1e2 2px solid;
    box-shadow: 3px 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  .timeline-content h4 {
    font-size: 20px;
    font-weight: bold;
  }

  .timeline-content p {
    font-weight: bold;
    color: black;
  }

  .timeline-content span {
    font-style:normal;
    font-weight:normal;
    color: #5a5e62;
  }

  .timeline-content img {
    width:15px;
    height: auto;
  }

  .job-details {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .about-buttons {
    position: relative;
    margin-top: 20px;
  }
  
  .cv-button {
    display: flex;
    align-items: center;
    gap: 6px;
    background: #007bff;
    color: white;
    border: none;
    text-align: center;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .cv-button:hover {
    background: #0056b3;
    transform: translateY(-2px);
  }

  .cv-list {
    position: absolute;
    top: 100%;
    margin-left: 12px;
    margin-top: 5px;
    background: #007bff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    min-width: 145px;
    z-index: 1000;
  }
  
  .cv-option {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    color: white;
    transition: all 0.2s ease;
  }

  .cv-option a {
    text-decoration: none;
    color: white;
  }

  .cv-option:hover {
    color: white;
    background-color: rgb(0, 56, 115);
  }
  .connect-button {
    background: transparent;
    border: 2px solid #007bff;
    color: #007bff;
  }
  
  .connect-button:hover {
    background: #007bff;
    color: white;
    transform: translateY(-2px);
  }

  .arrow-icon {
    transition: transform 0.3s ease;
  }
  
  .arrow-icon.open {
    transform: rotate(180deg);
  }
  
  .about-image {
    position: relative;
  }
  
  .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  .stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .stat-item h3 {
    font-size: 2.5rem;
    color: #007bff;
    margin-bottom: 10px;
  }

  .stat-item h3 a:hover {
    display: inline-block;
    color: #0056b3;
    transform: translateY(-2px);
  }
  
  .stat-item p {
    color: #5a5e62;
    font-size: 1.1rem;
  }
  
  .skills-overview {
    background: white;
    padding: 30px;
    /*border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);*/
    margin-bottom: 20px;
  }
  
  .skills-overview h3 {
    font-size: 1.8rem;
    color: #2d2d2d;
    margin-bottom: 30px;
    text-align: center;    
  }
  
  .expertise-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  .expertise-container {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8%;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .expertise-items {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
  }

  .expertise-item {
    padding: 3px 10px;
    background: white;
    border: 1px solid #007bff;
    color: #007bff;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor:default;
    transition: all 0.3s ease;
  }

  .expertise-item:hover {
    background: #007bff;
    color: white;
  }
  
  .expertise-container h4 {
    font-size: 1.3rem;
    color: #2d2d2d;
    margin-bottom: 15px;
  }
  
  @media (max-width: 992px) {
    .about-content {
      grid-template-columns: 1fr;
    }
  
    /*.stats-container {
      grid-template-columns: repeat(2, 1fr);
    }*/
    .expertise-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .cv-list {
      min-width: 135px;
    }
  }
  
  @media (max-width: 768px) {
    .about {
      padding: 60px 0;
    }
  
    .about-text h2 {
      font-size: 2rem;
    }
  
    .about-text h3 {
      font-size: 1.5rem;
    }
  
    .about-buttons {
      flex-direction: column;
    }

    .cv-list {
      min-width: 125px;
    }

    .expertise-grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
    .stats-container {
      grid-template-columns: 1fr;
    }
  }