.portfolio {
    display:inline-block;
    width: 100%;
    padding: 60px 0;
    background-color: white;
    background-size: cover;
    color:black;
  }

  .portfolio-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 1.5%;
    backdrop-filter:blur(3px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  
  .section-header {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .section-header h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .section-header p {
    color: #6c757d;
  }
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 30px;
    padding: 0 50px;
  }
  
  .portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .portfolio-image {
    position: relative;
  }
  
  .portfolio-image img {
    width: auto;
    height: 300px;
    object-position: 20%;
    object-fit: cover;
  }
  
  .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .portfolio-item:hover .portfolio-overlay {
    opacity: 1;
  }
  
  .portfolio-overlay h3 {
    color: white;
    margin-bottom: 10px;
  }
  
  .portfolio-overlay p {
    color: #ccc;
    margin-bottom: 20px;
  }

  .portfolio-demo {
    position: fixed ;
    width: 70vw;
    height:  40vw;
    z-index: 9902;
    top: 15vh;
    left: 15vw;
    background-color: whitesmoke;
    border-radius: 1%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .portfolio-video {
    width: 67vw;
    height: 39vw;
    margin: 1%;
  }

  .portfolio-video-close {
    position: fixed;  
    background-color: white;
    width: 36px;
    height: 36px;
    top: 13vh;
    right: 14vw;
    z-index: 9903;
    cursor: pointer;
    border-radius: 50%;
  }

  .portfolio-video-close:hover {
    width: 38px;
    height: 38px;
  }

  .portolio-video-cover{
    position: fixed ;
    width: 100%;
    height: 100%;
    z-index: 9901;
    bottom: 0;
    background-color:black;
    opacity: 80%;
  }
  
  .view-project {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .view-project:hover {
    background: #0056b3;
  }

  /* Responsive Design */
  @media (max-width: 1024px) {
    .portfolio-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {  
    .portfolio-grid {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }