:root {
    --text-color: #ffffff;
}

p {
    color:var(--text-color)
}

#game {
    position: relative;
}
.exgResultTd {
    position: relative;
    width: 130px;
    text-align: right;
    padding: 3px 5px;
}

.exgResultTbl {
    width: 400px;
    border: 1px solid;
}

.exgSearchTh {
    text-align: left;
}

.revnResultTxta {
    display: none;
    width: 600px;
    height: 250px;
    border: 1px solid;
    overflow: scroll;
}

.revnResultDiv {
    width: 600px;
    height: 250px;
    border: 1px solid;
    white-space: nowrap;
    overflow: scroll;
}

.revnResultDiv span {
    color: red;
}

.pointer {
    cursor: pointer;
    font-size: 25px;
}

.ew-resize {
    cursor: ew-resize;
    font-size: 25px;
}

#fee {
    width: 70px;
}

#times {
    width: 70px;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    top: 40px;
}

.display-none {
    display: none;
}

#game-title {
    position: inherit;
    width: 100px;
    left: 49%;
    text-align: center;
    margin-bottom: 10px;
    font-style:italic;
    font-weight: bolder;
    color:var(--text-color)
}

#filter {
    position: absolute;
    background-color: rgb(5, 13, 43);
    opacity: 0.6;
    width: 802px;
    height: 372px;
    display: block;
    top: 40px;
}

#countDown {
    position: absolute;
    /*padding-top: 100px;
    padding-left: 380px;*/
    display: none;
    font-size: 100pt;
    top: 120px;
    color:var(--text-color)
}

#restart {
    position: absolute;
    /*padding-top: 170px;
    padding-left: 380px;*/
    display: none;
    top: 170px;
}

#start {
    position: absolute;
    /*padding-top: 170px;
    padding-left: 380px;*/
    display: block;
    top: 170px;
}

#flyCanvasContainer {
    position: absolute;
    top: 40px;
}

.Container_middle01 {
    display: flex;
    margin: 0 auto;
    justify-content:center;
    /*width: 400px*/
}

.Container_middle02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Container_middle03 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*UrlDecode CSS*/

.textInput {
    overflow-y: scroll;
    resize: none;
    width: 300px;
    height: 400px;
}

.textResult {
    overflow: scroll;
    resize: none;
    width: 600px;
    height: 400px;
}